<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create listing</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-slate-50">
  <div>
    <div class="grid m-auto max-w-max">
      <div>
        <div class="pt-4 px-4">
          <h3 class="text-lg font-medium leading-6 text-gray-900">Create a listing</h3>
          <p class="mt-1 text-sm text-gray-600">
            This post will be displayed publicly, so please mind what you're about to share.
          </p>
        </div>
      </div>
      <div class="mt-5">
        <form action="" method="post">
          {% csrf_token %}
          <div class="shadow">
            <div class="px-4 py-5 bg-white space-y-6">

              <div class="grid grid-cols-3 gap-6">
                <div class="col-span-3">
                  <label class="block text-sm font-medium text-gray-700">
                    Name
                  </label>
                  <div class="mt-1 flex shadow-sm">
                    {{ form.name }}
                  </div>
                </div>
              </div>

              <div class="grid grid-cols-3 gap-6">
                <div class="col-span-3">
                  <label class="block text-sm font-medium text-gray-700">
                    Crawl URL
                  </label>
                  <div class="mt-1 flex shadow-sm">
                    {{ form.crawl_url }}
                  </div>
                </div>
              </div>

              <div class="grid grid-cols-3 gap-6">
                <div class="col-span-3">
                  <label class="block text-sm font-medium text-gray-700">
                    Selector
                  </label>
                  <div class="mt-1 flex shadow-sm">
                    {{ form.selector }}
                  </div>
                </div>
              </div>

              <div class="grid grid-cols-3 gap-6">
                <div class="col-span-3">
                  <label class="block text-sm font-medium text-gray-700">
                    Period
                  </label>
                  <div class="mt-1 flex shadow-sm">
                    {{ form.period }}
                  </div>
                </div>
              </div>

            </div>
            <div class="px-4 py-3 bg-gray-50 text-right">
              <input type="submit"
                class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                value="Save">
              </input>
            </div>
          </div>
        </form>
      </div>
      <div class="block">
        <div class="py-5">
          <div class="border-t border-gray-200"></div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>